region                = "nyc3"
droplet_size          = "s-2vcpu-4gb"
enable_backups        = true
backup_policy_plan    = "weekly"
backup_policy_weekday = "SUN"
backup_policy_hour    = 4
droplet_name          = "platform-shared"
project_name          = "platform"
ssh_key_fingerprints  = ["replace-with-do-ssh-key-fingerprint"]
allowed_ssh_cidrs     = ["replace-with-your-ip/32"]
